@charset"UTF-8";

body{
        background-color:  white;
        color: rgb(53, 54, 53);
    }
p {
        text-align: justify;
        text-indent: 50px;
    }

/* Formatação do menu*/
nav#menu 
   ul {
    list-style: none;
    text-transform: uppercase;

    }

nav#menu
    li {
        display: inline-block;
        background-color: #dddddd;
        padding: 5px;
        margin: 5px;
    }