body {
    background-color:  rgb(216, 203, 164);
    color: rgb(179, 76, 28);
}
.gato {
    color: rgb(133, 61, 27);
    text-align: center;
}
.titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }
 header{
    text-align: center;
    background-color: rgba(2, 2, 1, 0.103);
}

.parceiro {
    position: fixed; 
    bottom: 0;       
    right: 0;      
    width: 200px;   
    height: auto;   
    margin: 65px;  
}