body{
    background-color: rgba(0, 0, 0, 0.973);
    color: rgb(53, 54, 53);
   
}

button {
    text-decoration: none;
    color: goldenrod;
    background-color: rgba(8, 5, 1, 0.973);
}
h1{
    color: goldenrod;
}
.texto {
    color: goldenrod;
}

